{% extends 'index.html'  %}

{% block content %}

{% if logged_in == False %}
<div class="about-content">
<script type="text/javascript" src="{% static 'fbscript.js' %}"></script>
<p> Please login to suggest a Challenge! </p>

<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>

<div id="status">
</div>

</div>
{% else  %}

<div class="about-content">
<p> Suggest some crazy stuff </p>

</div>

{% endif  %}
{% endblock %}
