{% extends 'index.html'  %}

{% block content %}

{% if logged_in == False %}
<div class="about-content">
<p> Please login to suggest a Challenge! </p>


<a href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github">
    <span class="fa fa-github"></span> Sign in with Github
  </a>

 <a class="btn btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>

 <a class="btn btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>

</div>
{% else  %}

<div class="about-content">
<p> Suggest some crazy stuff </p>

</div>


{% endif  %}

{% endblock %}
